<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="inspireController">
	<header class="app-header">
		<h1 class="title">Inspire ME!!!</h1>
		<p class="sub-head">An app to share, review, and rate inspirational quotes</p>
	</header>
	<aside class="right-bar">
		<h2 class="sidebar-title">Add New Quote</h2>
		<div class="add-quote">
			<form class="quote-form" action="" ng-submit="addQuote($event)">
				<label for="">Author</label><input type="text" required ng-model="addAuthor">
				<label for="">Text</label><textarea class="quote-text" required ng-model="addText"></textarea>
				<input class="submit btn btn-warning" type="submit" placeholder="submit">
			</form>
			<div class="random">
				<!-- popup display for random quote -->
				<div class="popup" ng-show="showPopup">
					<h2>Your Random Quote For The Day Is</h2>
					<h3>{{randomQ.author}}</h3>
					<blockquote>{{randomQ.text}}</blockquote>
					<p class="rating glyphicon glyphicon-fire"></p>
					<button class="btn close-pop" ng-click="closePop()">Close</button>
				</div>
				<button class="random-btn btn btn-success" ng-click="random($event)">Produce Random Quote</button>
			</div> <!-- random -->
		</div> <!-- add quote -->
	</aside> <!-- side bar -->
	<div class="main-container">
		<h2 class="quote-header">Recently Added Quotes</h2>
		<div class="quote-list" ng-repeat="quote in quotes">
		<button class="remove-btn btn btn-danger btn-xs" ng-click="removeQuote($index)">X</button>
			<h3>{{quote.author}}</h3>
			<blockquote>
				<p>{{quote.text}}</p>
			</blockquote>
			<div class="rating-container">Rating: 
				<span class="glyphicon glyphicon-star-empty" ng-click="oneStar($index)"></span>
				<span class="glyphicon glyphicon-star-empty glyphicon-star" ng-click="twoStars($index)"></span>
				<span class="glyphicon glyphicon-star-empty" ng-click="threeStars($index)"></span>
				<span class="glyphicon glyphicon-star-empty" ng-click="fourStars($index)"></span>
				<span class="glyphicon glyphicon-star-empty" ng-click="fiveStars($index)"></span>
			</div>
		</div>
	</div> <!-- main-container -->
</body>
</html>












