<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="inspireController">
	<header class="app-header">
		<h1 class="title">Inspire ME!!!</h1>
		<p class="sub-head">An app to share, review, and rate inspirational quotes</p>
	</header>
	<aside class="right-bar">
		<h2 class="sidebar-title">Add New Quote</h2>
		<div class="add-quote">
			<form class="quote-form" action="" ng-submit="addQuote($event)">
				<label for="">Author</label><input type="text" required ng-model="addAuthor">
				<label for="">Text</label><textarea class="quote-text" required ng-model="addText"></textarea>
				<input class="submit btn btn-warning" type="submit" placeholder="submit">
			</form>
			<div class="random">
				<!-- popup display for random quote -->
				<div class="popup" ng-show="showPopup">
					<h2>Your Random Quote For The Day Is</h2>
					<h3>{{randomQ.author}}</h3>
					<blockquote>{{randomQ.text}}</blockquote>
					<p class="rating"></p>
					<button class="btn close-pop" ng-click="closePop()">Close</button>
				</div>
				<button class="random-btn btn btn-success" ng-click="random($event)">Produce Random Quote</button>
			</div> <!-- random -->
		</div> <!-- add quote -->
	</aside> <!-- side bar -->
	<div class="main-container">
		<div class="undo btn btn-danger pull-right btn-xs" ng-show="deleteQue.length" ng-click="undo($index)">Undo Delete</div>
		<h2 class="quote-header">Recently Added Quotes</h2>

		<div class="quote-list" ng-repeat="quote in quotes">
		<button class="remove-btn btn btn-danger btn-xs" ng-click="removeQuote($index)">X</button>
			<h3>{{quote.author}}</h3>
			<blockquote>
				<p>{{quote.text}}</p>
			</blockquote>
			<div class="rating-container">
					<div class="rate">
						Rating: {{quote.rating || 0}} / 5
					</div>
				 	<button class="rating-btn btn btn-sm">Change Rating <span class="glyphicon glyphicon-triangle-right"></span></button>
			 		<ul class="drop-menu">
			 			<li ng-click="rate1($index)">1</li>
			 			<li ng-click="rate2($index)">2</li>
			 			<li ng-click="rate3($index)">3</li>
			 			<li ng-click="rate4($index)">4</li>
			 			<li ng-click="rate5($index)">5</li>
				 	</ul>
			</div>
		</div>
	</div> <!-- main-container -->
</body>
</html>












